.flexframe {
    margin:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DEBAF6;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.inputfile+label {
    margin-top: 26px;
    padding: 24px;
    font-family: Livvic;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    background-color: #F8E71C;
    display: inline-block;
    cursor: pointer;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
}

.sliderLabel {
    font-family: Livvic;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}

label img{
    margin-right: 16px;
    width:32px;
}

/*fixes keyboard nav*/
.inputfile:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

/*hover state */
.inputfile:focus+label,
.inputfile+label:hover {
    background-color: #F5A623;
}

label:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 1.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

#mainContent{
    width: 33%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
    font-family: 'Livvic', sans-serif;
}

#mainpageLogo{
    text-align:center;
    width:100%;
    display:block;
    margin:auto;
    margin-bottom: 55px;
}

#uploadIcon{
    position: relative;
    top: 1px;
    margin-right: 5px;
}

.sticker{
    position: absolute;
}

#botSparkles{
    position: absolute;
    left: 30%;
    top: 50%
}

button{
    vertical-align: middle;
    background-color: #F8E71C;
    border: none;
    border: 2px solid #000;
    padding: 12px 8px;
    text-align: center;
    display: inline-block;
    border-radius: 0.5em;
    font-family: 'Livvic', sans-serif;
    font-weight: bold;
}

button:hover{
    border: none;
    border: 2px solid #000;
    background-color: #FCB80F;
     padding: 12px 8px;
    text-align: center;
    display: inline-block;
    border-radius: 0.5em;
    cursor: pointer;
    transition-duration: .4s;
}

#container {
    height: 100%; 
    width:100%; 
} 

#audio-controls, #canvas-container, #right-controls {
    display: inline-block; 
    *display: inline; 
    zoom: 1; 
    vertical-align: top; 
    font-size: 12px;
} 

#audio-controls {
    width: 15%; 
    height: 100%;
    text-align: left;
    padding: 3%;
    position: fixed;
    top: 62%;
    left: 3%;
}

#canvas-container {
    width: 60%; 
    height: 100%;
    position: fixed;
    left: 20%;
    text-align: center;
    float: center;
}

#right-controls {
    width: 17%;
    height: 100%;
    position: fixed;
    text-align: center;
    left: 78%;
    top: 65%;
}

/* input[type=range] styles from https://www.cssportal.com/style-input-range/ */
input[type=range] {
    height: 41px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
  input[type=range]:focus {
    outline: none;
}
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #262626;
    background: #C6C6C6;
    border-radius: 1px;
    border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 3px #545454;
    border: 0px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 17px;
    background: #4A90E2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.5px;
}
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #C6C6C6;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    box-shadow: 0px 0px 1px #262626;
    background: #C6C6C6;
    border-radius: 1px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 3px #545454;
    border: 0px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 17px;
    background: #4A90E2;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 11px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #C6C6C6;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 0px 0px 1px #262626;
  }
  input[type=range]::-ms-fill-upper {
    background: #C6C6C6;
    border: 0px solid #010101;
    border-radius: 2px;
    box-shadow: 0px 0px 1px #262626;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 3px #545454;
    border: 0px solid #00001E;
    height: 26px;
    width: 26px;
    border-radius: 17px;
    background: #4A90E2;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #C6C6C6;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #C6C6C6;
  }

  #trebleBoost::-ms-thumb {
    background: #59C276;
}

#trebleBoost::-webkit-slider-thumb { 
    background: #59C276;
}

#trebleBoost::-moz-range-thumb { 
    background: #59C276;
}

audio { 
    border-radius: 7px;
    width: 100%;
}